* {
  box-sizing:border-box;
}

html, body {
  height: 100%;
}

body {
  font-family:Verdana, Geneva, san-serif;
  font-size:16px;
  text-align:center;
  background-color:#F5F5F5;
  color:#333;
  margin:0px;
}

ul {
  list-style-type:none;
}

h3 {
  font-weight: bold;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  font-size:1em;
}

h4 {
  margin-top:5px;
  font-weight:inherit;
}

.page_wrap {
  min-height: 100%;
  margin-bottom: -25px;
  padding-bottom:20px;
}
.page_wrap:after {
  content: "";
  display: block;
}
.site_footer, .page_wrap:after {
  height: 25px; 
}
.site_footer {
  color:#3a3434;
  font-size:11px;
  line-height:25px;
  vertical-align:middle;
  text-align:center;
  letter-spacing:1px;
  font-weight:bold;
}

#logo { 
  max-width:300px;
}

.tabber {
  width:50%;
  margin:0 auto;
}

.tabber header {
  text-align:left;
}
.tabber header h3 {
  display:inline-block;
  cursor:pointer;
  padding:10px;
  margin:0;
  background-color:#e2e2e2;
  border:1px solid gray;
  border-bottom:none;
  border-top-left-radius:5px;
  border-top-right-radius: 20px;
}
.tabber header h3.active {
  background-color:#FDFDFD;
}
background-color:#FDFDFD;
.tabber header h3:hover {
  background-color:#ccc;
}
.tabber section {
  display:none;
  border:1px solid gray;
  padding:20px;
  text-align:left;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  background-color:#FDFDFD;
}

.tabber section header {
  font-size:1.1em;
  padding-left:10px;
  margin-bottom:15px;
}

.tabber section footer {
  font-size:1.1em;
  padding-left:10px;
  margin-top:15px;
}
.tabber section .formError {
  font-size:1.1em;
  margin-top:15px;
  text-align:center;
  color:green;
}
.tabber section input {
  padding:5px;
  border-radius:5px;
  border:1px solid #d3d3d3;
  width:304px;
  outline:none;
  font-size:1.1em;
  color:#333;
  height:30px;
  font-size:16px;
}

.libraryItem {
  padding:20px;
  border:1px solid gray;
  border-radius:15px;
  white-space:nowrap;
  margin:5px;
  display:inline-block;
  cursor:pointer;
  background: #cacc3a;;
  opacity:0.5;
}

.libraryItem.selected {
  opacity:1;
}

.libraryItem i {
  margin-right:5px;
}

#captcha {
  width:100%;
  margin:0 auto;
  margin-top:20px;
}

#emailForm {
  margin-top:15px;
}
#captcha span, #emailForm span, #submitForm span {
  display:inline-block;
  width:300px;
  text-align:right;
  line-height:30px;
  vertical-align:middle;
}
#captcha span {
  vertical-align:top;
}

#submitForm span {
  margin-right:5px;
}

.g-recaptcha {
  display:inline-block;
}

button {
  font-size: 1.1em;
  background: #cacc3a;
  padding: 10px;
  box-shadow: none;
  border: 1px solid gray;
  outline: none;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
  margin-top: 15px;
  letter-spacing: 1px;
}
button:hover {
  color:#0074da;
}